/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import '~bulma/bulma.sass';

.modal {
  pointer-events: none !important;
}

.modal-content {
  pointer-events: all !important;
}

/* .modal {
  z-index: 1024 !important;
} */

.modal-close {
  position: absolute;
  top: -32px;
  right: -32px;
}