<div class="merchants"> 
<div class="row">
    <div class="col-12">
        <div class="merchant-card" (click)="onClickCard()">
            <div>
                <img class="merchant-logo" [src]='"../../../"+merchant.merchantImage' alt="" aria-hidden="true"/>
            </div>
            <div class="merchant-details">
                <h3 class="name">{{merchant.merchantName}}</h3>
                <p class="sub-heading">{{merchant.merchIndustry}}</p>
            </div>
        </div>
    </div>
</div>
</div>

