<div class="merchant-popup-container">
  <div class="left-col">
    <div class="image-item">
      <img class="pirate-img" src="assets/image/meow.png" alt="">
    </div>
  </div>
  <div class="right-col">
    <div class="offer-title">
      <h1>$10 cash backer offer</h1>
    </div>
    <div class="offer-details">
      <div class="merchant-details">
        <div class="merchant-logo">
          <img [src]="merchantData.merchantImage" alt="" aria-hidden="true" />
        </div>
        <h3 class="merchant-name"> {{merchantData.merchantName}}</h3>
      </div>
      <ng-container *ngIf="merchantOffer">
        <div class="offer-desc">
          <span class="bold">Offer</span> : Get {{merchantOffer.offerDesc}}
        </div>
        <div class="promotion-period">
          <span class="bold"> Promotion period </span>: From {{merchantOffer.offerStartDate}} until {{merchantOffer.offerEndDate}}
        </div>
      </ng-container>
      <div class="tc-link">
        <a>T&Cs apply</a>
      </div>
    </div>
    <div class="social-links">
      <div class="sub-text">Let your friends know</div>
      <div class="whatsapp-icon">
        <button type="button" name="button" class="social-btn">
          <img class="outer-bpx" src="assets/image/whatsapp.png" alt="whatsapp">
        </button>
      </div>
      <div class="share-link">
        <button type="button" name="button" class="social-btn">
          <img class="outer-bpx" src="assets/image/link.png" alt="link">
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="grid-containermain">
  <div class="grid-item">
    <img class="pirate" src="../../../assets/image/meow.png" alt="">
  </div>
  <div class="grid-item">
    <div class="vertical-line">

    </div>
  </div>
  <div class="grid-item right-grid">
    <div class="full-grid">
      $10 cash backer offer
    </div>
    <div class="half-grid">
      <div class="grid-item">
        <div class="merchant-logo">
          <img [src]='"../../../"+merchantData.merchantImage' alt="" aria-hidden="true" />
        </div>
      </div>
      <div class="grid-item">
        <div class="merchant-logo">
          <h3 class="merchant-name"> {{merchantData.merchantName}}</h3>
        </div>
      </div>
    </div>
    <div class="full-grid">
      offer : Get {{merchantOffer.offerDesc}}
    </div>
    <div class="full-grid">
      Promotion period : From {{merchantOffer.offerStartDate}} until {{merchantOffer.offerEndDate}}
    </div>
    <div class="full-grid">
      <a>T&Cs apply</a>
    </div>
    <div class="full-grid">
      Let your friends know
    </div>
    <div class="next-grid">
      <div class="grid-item">
        <a class=" pointerCur"><img class="outer-bpx" src="../../../assets/image/watsapp.png" alt="whatsapp"></a>
      </div>
      <div class="grid-item">
        <a class=" pointerCur"><img class="outer-bpx" src="../../../assets/image/link.png" alt="link"></a>
      </div>
    </div>
  </div>
</div> -->
