.merchant-details {
    .name {
        font-size: 1rem;
        list-style: 24px;
        margin: 0;
    }
    .sub-heading {
        font-size: 13px;
        line-height: 20px;
        color: #767676;
        margin-bottom: 10px;
    }
}